<!DOCTYPE html>
<html lang="en">
<head>
    <title>Application Submitted</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
        <h1 class="text-center mt-2 mb-4">
            JobHub Careers
        </h1>

        <p>Your application for the role {{ job['title'] }} has been submitted 🔥</p>

        <h4>Full Name</h4>
        <p>{{ application['name'] }}</p>
        <h4>Email</h4>
        <p>{{ application['email'] }}</p>
 
        <h4>Working experience</h4>
        <p>{{ application[' experience'] }}</p>
        <h4>Education</h4>
        <p>{{ application['education'] }}</p>
 
        <a href="{{ application['resume_url'] }}" target="_blank">Resume</a>
  
        <a href="{{ application['resume'] }}" target="_blank">LinkedIn</a>
       
    </div>
    {% include 'footer.html' %}
</body>
</html>